<div class="foot-cont">
    
<div class="foot-box">
    <h6 class="foot-box-title">INFORMATION</h6>
    <a class="foot-a" href="#" target="_blank">ABOUT US</a>
    <a class="foot-a" href="#" target="_blank">PARTNERS</a>
    <a class="foot-a" href="#" target="_blank">FOR DOCTORS</a>
    <a class="foot-a" href="#" target="_blank">FOR THE CLINIC</a>
    <a class="foot-a" href="#" target="_blank">FOR THE PHARMACY </a>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">FOR PATIENTS</h6>
    <a class="foot-a" href="." target="_blank">HOME</a>
    <a class="foot-a" href="doccategory" target="_blank">DOCTORS</a>
   
    <a class="foot-a" href="contact" target="_blank">CONTACT</a>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">CONTACT</h6>
    <p class="foot-p">Workdays : 
        Mon - Fri</p>
    <p class="foot-p">Working Hours : 
        9:00 - 17:00</p>
  
  <p class="foot-p">Phone: 032 2 100 100</p>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">FOLLOW US</h6>
    <a class="foot-a" href="facebook.com" target="_blank">Facebook</a>
    <a class="foot-a" href="instagram.com" target="_blank">Instagram</a>
    <a class="foot-a" href="youtube.com" target="_blank">Youtube</a>
    
</div>
</div>
